.waiter {
    cursor: wait;
}

a {
    cursor: pointer;
}

a:hover{
    color: rgb(93, 154, 207);
}

body {
    background: #222;
    color: rgb(239, 244, 229);
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 20px;
    font-variant: small-caps;
}

.reg {
    font-family: 'Ubuntu';
    font-variant: normal;
}

.login {
    font-size: 16px;
}

.main_wrapper {
    margin: auto;
    width: 65%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.main_wrapper .game_title{
    font-size: 34px;
    color: rgb(153, 153, 153);
    margin: 5px 0 20px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.clr {
    clear: both;
}
.login_wrapper {
    line-height: 48px;
}
.login_wrapper a {
    vertical-align: middle;
}

.login_wrapper div {
    display: inline-block;
}
.login_wrapper input[type=text], .login_wrapper input[type=password] {
    width: 120px;
    line-height: 18px;
    font-size: 11px;
    font-family: consolas;
    padding: 0 5px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-variant: normal;
}

.login_wrapper input[type=checkbox] {
    margin: 0 10px;
    vertical-align: middle;
}


.action-box {
    display: none;
    border-radius: 6px;
    position: fixed;
    width: 300px;
    background: rgb(51, 51, 51);
    left: 18px;
    top: 71px;
    padding-bottom: 30px; /* 30 for Abs Bottom Bar, 15 for space anyway */
    z-index: 50;
}

.action-box .fw{
    display: none;
}

.action-box .flag_text_holder{
    position: relative;
}

.action-box .flag_text_holder a{
    position: absolute;
    top: 5px;
    right: 10px;
}

.action-box .top-bar {
    text-align: center;
    background: linear-gradient(to bottom,rgb(60, 60, 60) 0,rgb(34, 34, 34) 100%);
    line-height: 40px;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.action-box .top-bar div {
    display: inline-block;
}
.action-box .bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: linear-gradient(to bottom,rgb(60, 60, 60) 0,rgb(34, 34, 34) 100%);
    line-height: 30px;
    color: #ccc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.action-box .bottom-bar div:hover {
    color: #fff;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.action-box .bottom-bar div:active {
    background: linear-gradient(to bottom,rgb(34, 34, 34) 0,rgb(60, 60, 60) 100%);
}

.action-box .bottom-bar div {
    display: inline-block;
    width: 50%;
}
.action-box .not-last{
    border-right: 1px solid rgb(85, 85, 85);
}

.action-box .wrappers-wrapper {
    padding: 10px;
}

.action-box .msg {
    padding: 15px;
    text-align: center;
    display: none;
}

.action-box textarea.form-control {
    height: 140px;
    line-height: 25px;
    box-shadow: 0px 0px 12px rgb(0, 0, 0) inset;
}
.action-box input[type=text],.action-box input[type=password]{
    box-shadow: 0px 0px 12px rgb(0, 0, 0) inset;
}
.action-box .warning{
    font-size: 14px;
}
.action-box .signup-error-message{
    text-align: center;
    font-size: 14px;
}

.form-control {
    font-family: Ubuntu;
    font-variant: normal;
    font-size: 14px;
}

.action-box .pick-image{
    margin: 20px;
    text-align: center;
}

#new_reply_condI{
    height: 80px;
}



.nav.navbar-nav {
    width: 100%;
}

.navbar li.r {
    float: right;
}

#navbar .loggedin{
    vertical-align: middle;
    line-height: 50px;
}

#navbar .active>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-image: linear-gradient(to bottom,rgb(50, 50, 50) 0,rgb(74, 74, 74) 100%);

}

#navbar .dropdown-menu{
    background-color: rgb(69,69,69);
    border: 0;
    border-top-right-radius: 4px;
}
#navbar .dropdown-header {
    cursor: default;
}

#navbar .dropdown-menu>li>a{
    color: #bbb;
}

#navbar .dropdown-menu>li>a:hover{
    background-image: linear-gradient(to bottom,rgb(49, 49, 49) 0,rgb(61, 61, 61) 100%);
    color: #fff;
}

#navbar li.separator {
    border: 1px solid;
    border-width: 0px 0px 1px 0px;
    margin: 10px;
    border-color: rgb(51, 51, 51);
}
#shtut, #shleg {
    position: relative;
}

#shtut i, #shleg i {
    display: none;
    position: absolute;
    left: 4px;
    top: 6px;
    font-size: 12px;
}

.yellowBoxShadow{
    box-shadow: 0px 0px 20px rgb(255, 255, 0);
}
.fadeOutBoxShadow {
    transition: box-shadow 2200ms;
    box-shadow:
        0px 0px 0px rgb(0, 0, 0);
}

.yellowTextShadow{
    text-shadow: 0px 0px 13px rgb(255, 255, 0);
}
.fadeOutTextShadow {
    transition: text-shadow 2200ms;
    text-shadow:
        0px 0px 0px rgb(0, 0, 0);
}

#konssl {
    display: none;
    line-height: 30px;
    margin: 0 25px;
    max-height: 30px;
}

#konssl .log-bar {
    position: relative;
}

#konssl .log-bar .text{
    line-height: 30px;
    font-size: 14px;
    vertical-align: bottom;
    margin: 0px 0;
    border: 0px solid rgb(34, 34, 34);
    border-radius: 0px;
    overflow: hidden;
    min-height: 30px;
    max-height: 30px;
    width: 500px;
    padding: 0px 10px 0px 25px;
}

#konssl .log-bar .text.open {
    max-height: 300px;
    position: absolute;
    bottom: -30px;
    overflow: auto;
    background-color: #333;
    box-shadow: 0px 0px 9px rgb(33, 33, 33) inset;
}

#konssl .log-bar .x{
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 1px;
    left: 8px;
}

#konssl .log-bar .text .cont{
    float: left;
}
#konssl .log-bar .text .time{
    float: right;
}
#save_game {
    max-height: 50px;
    vertical-align: top;
}

#save_game div{
    display: inline-block;
}

div#save_game_loader {
    display: none;
    margin: 0 0 0 15px;
}

.trip-block {
    font-family: Ubuntu;
    font-variant: normal;
    font-size: 16px;
    /*max-width: 570px;*/
}

.trip-block .x{
    position: absolute;
    right: 3px;
    top: 0px;
}
.trip-block .l{
    text-align: left;
}

.trip-block .c{
    text-align: center;
}
.trip-block .next {
    display: inline-block;
    margin: 0 10px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}


.trip-block p {
    display: inline-block;
    margin: 0;
}

.trip-block p.b{
    font-weight: bold;
}

.trip-block p.i{
    font-style: italic;
}

.trip-block p.u{
    text-decoration: underline;
}

#flag_icon_menu {
    display: none;
    position: absolute;
    height: 135px;
    width: 115px;
    right: -125px;
    background: rgb(51, 51, 51);
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    top: 0;
}
#flag_icon_menu a{
    width: 30px;
    float: left;
    padding: 5px;
    position: static;
}
#flag_icon_menu i.fa.link{
    color: #eee;
}

#unsaved_changes_list {
    display: none;
}

#menunc{
    line-height: 30px;
    font-size: 12px;
    color: rgb(100, 100, 100);
    padding: 0 0 0 5px;
}

#unsaved_changes_list>* {
    vertical-align: middle;
}

#unsaved_changes_list {
    line-height: 30px;
    padding: 0 0 0 5px;
    font-size: 16px;
}

#unsaved_changes_list a{
    padding: 0 5px;
    font-size: 20px;
}

#unsaved_changes_list a i.fa.link{
    color: rgb(200, 200, 200);
}

#unsaved_changes_list .uscl{
    display: inline-block;
    margin: 0 5px 0 0;
}

#navbar-bot {
    height: 30px;
    min-height: initial;
    line-height: 20px;
}


#navbar-bot a{
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    font-size: 16px;
}

.no-events {
    pointer-events: none;
}