
body {
    background: #222;
    color: rgb(239, 244, 229);
    font-family: verdana;
    padding-top: 70px;
    padding-bottom: 30px;
}

.main_wrapper {
    margin: auto;
    width: 66%;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.clr {
    clear: both;
}