a {
    cursor: pointer;
}
body {
    background: #222;
    color: rgb(239, 244, 229);
    font-family: verdana;
    padding-top: 70px;
    padding-bottom: 30px;
}

.main_wrapper {
    margin: auto;
    width: 66%;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.clr {
    clear: both;
}
.login_wrapper {
    line-height: 50px;
}
.login_wrapper a {
    vertical-align: middle;
}

.login_wrapper div {
    display: inline-block;
}
.login_wrapper input[type=text], .login_wrapper input[type=password] {
    width: 120px;
    line-height: 18px;
    font-size: 11px;
    font-family: consolas;
    padding: 0 5px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
}

.login_wrapper input[type=checkbox] {
    margin: 0 10px;
    vertical-align: middle;
}

.nav.navbar-nav {
    width: 100%;
}

#navbar li.login {
    float: right;
}

#navbar .loggedin{
    vertical-align: middle;
    line-height: 50px;
}