
label.radio, .radio-inline input[type=radio]{
    cursor: pointer;
    position: inherit;
}

input[type=text]{

}
.radios-wrapper {
    margin: 5px 26px;
}

.wrappers-wrapper .btn{
    background-image: linear-gradient(to bottom,rgb(5, 10, 7) 0,rgb(34, 34, 34) 100%);
    border: 1px solid white;
    padding: 1px 8px;
    font-size: 10px;
}
.wrappers-wrapper .btn:hover{
    color: rgb(195, 195, 255);
}

.drawing_panel {
    background-color: #262626;
    border: 1px solid rgb(77, 77, 77);
    padding: 0 20px 20px;
    overflow: auto;
}

.board-title{
    font-size: 30px;
    color: #444444;
    padding: 15px;
}

.drawing_board {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.drawing_board div {
    color: #fff;
    border: 0px solid black;
}

.drawing_board .entry{
    width: 100%;
    border: 0px solid;
    display: table-row;
}
.drawing_board .reply{
    border: 0px solid;
    /*display: table-row;*/
    padding: 2px 10px;
    margin: 0px 0;
    border-left: 1px groove;
}

.drawing_board .actionLabel{
    padding: 5px;
    border: 1px solid rgb(255, 255, 143);
    font-style: italic;
    float: left;
    cursor: pointer;
}

.drawing_board .actionLabel.redirect{
    border-style: dotted;
}

.drawing_board .entryLabel{
    padding: 5px;
    border: 1px solid rgb(156, 173, 255);
    font-style: italic;
    margin-right: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 rgb(0, 0, 0);
}

.drawing_board .entryLabel.pickable{
    box-shadow: 0 0 20px rgb(255, 255, 125);
}
.drawing_board .replyLabel{
    padding: 5px;
    border: 1px solid rgb(156, 255, 173);
    cursor: pointer;
}
.actionLabel, .entryLabel, .replyLabel{
    white-space: nowrap;
    font-family: 'Ubuntu', serif;
    font-variant: normal;
    font-size: 14px;
}

.actionLabel:hover, .entryLabel:hover, .replyLabel:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.35);
}

.drawing_board .reply.notLeaf{
    border-bottom: 0px solid;
}
.drawing_board .replyLabel.notLeaf{
    border-right: 0;
}

.drawing_board .replyLabel.conditional{
    text-decoration: underline;
}
.drawing_board .replyAction.notLeaf{
    border-right: 0;
}

.drawing_board .add-entry{
    padding: 0 2px;
    cursor: pointer;
}
.drawing_board .add-reply{
    padding: 0 4px;
    cursor: pointer;
    border-color: white;
}
.drawing_board .add-action{
    padding: 0 2px;
    cursor: pointer;
}

.drawing_board .replyLabel.p:hover{
    background: #aaa;
}

.drawing_board .replyHolder{
    vertical-align: middle;
    display: table-cell;
}

.drawing_board .tableBox {
    border-collapse: collapse;
    display: table;
}

.entity-form-wrapper, .board-form-wrapper {
    display: none;
}

.drawing_board .active_label {
    box-shadow: 0px 0px 6px rgb(255, 255, 0);
}

#floater {
    display: none;
    position: absolute;

    border: 1px solid rgb(0, 0, 0);
    background: rgba(29, 29, 29, 0.9);
    padding: 0px;
    left: 0;
    top: 0;
}

#floater .top-bar {
    min-width: 200px;
    background-image: linear-gradient(to bottom,rgb(60, 60, 60) 0,rgb(34, 34, 34) 100%);
    padding: 10px;
    text-align: right;
    font-size: 16px;
}

#floater .top-bar div{
    display: inline-block;
    cursor: pointer;
}

#floater .top-bar div:hover{
    text-decoration: underline;
    color: #FFFFCC;
}

#floater .top-bar .title{
    float: left;
    font-size: 14px;
    text-decoration: underline;
}
#floater .content {
    padding: 10px;
}

div.code {
    font-family: consolas;
}

.game .playground {
    min-height: 100px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 4px;
    display: none;
    padding: 20px;
}







/* *********** TABS *********** */
#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0 -15px 0 0;
}

#tabs a {
    float: left;
    position: relative;
    padding: 0 40px;
    height: 0;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #3D3D3D;
    border-bottom-color: #777\9;
    opacity: .3;
    filter: alpha(opacity=30);
}

#tabs a:hover,
#tabs a:focus {
    border-bottom-color: rgb(51, 122, 183);
    opacity: 1;
    filter: alpha(opacity=100);
}

#tabs a:focus {
    outline: 0;
}

#tabs .atab{
    z-index: 3;
    border-bottom-color: #3d3d3d;
    opacity: 1;
    filter: alpha(opacity=100);
}