#action_box_id.action-box
    .top-bar
        div
        | Add New Entry
    .wrappers-wrapper
        .playground-form-wrapper.fw
            form(role='form')
                fieldset
                    // Text input
                    .control-group
                        label.control-label(for='new_playground_titleI') Title:
                        .controls
                            input#new_playground_titleI.form-control(type='text')
        .game-form-wrapper.fw
            form(role='form')
                fieldset
                    // Text input
                    .control-group
                        label.control-label(for='new_game_titleI') Title:
                        .controls
                            input#new_game_titleI.form-control(type='text')
                        br
                        label.control-label(for='new_game_teaserI') Teaser:
                        .controls
                            textarea#new_game_teaserI.form-control.teaser
        .action-form-wrapper.fw
            form(role='form')
                fieldset
                    // Text input
                    .control-group
                        label.control-label(for='new_action_labelI') Label:
                        .controls
                            input#new_action_labelI.form-control(type='text', placeholder='Personal Use', required='')
                        br
                        .radios-wrapper
                            label.radio(for='actionEff-3')
                                input#actionEff-3(type='radio', name='new_action_effect', value='redirect', checked='checked')
                                |                                                                 Redirect:
                                #TargetEntryButton.btn Target Entry
                                input#target_entry_path(type='hidden', value='')
                            label.radio(for='actionEff-0')
                                input#actionEff-0(type='radio', name='new_action_effect', value='turnOnFlag')
                                |                                                                 Turn On Flag:
                                input#new_action_flag_nameI.form-control(type='text', placeholder='Flag Name')
                            label.radio(for='actionEff-1')
                                input#actionEff-1(type='radio', name='new_action_effect', value='turnOffFlag')
                                |                                                                 Turn Off Flag:
                                input#new_action_flag_nameII.form-control(type='text', placeholder='Flag Name')
                            label.radio(for='actionEff-2')
                                input#actionEff-2(type='radio', name='new_action_effect', value='kill')
                                |                                                                 Kill Char
        .entry-form-wrapper.fw
            form(role='form')
                fieldset
                    // Text input
                    .control-group
                        label.control-label(for='new_entry_labelI') Label:
                        .controls
                            input#new_entry_labelI.form-control(type='text', placeholder='Personal Use')
                        br
                        label.control-label(for='new_entry_speechI') Speech:
                        .controls
                            textarea#new_entry_speechI.form-control
        .reply-form-wrapper.fw
            form(role='form')
                fieldset
                    // Text input
                    .control-group
                        label.control-label(for='new_reply_labelI') Label:
                        .controls
                            input#new_reply_labelI.form-control(type='text', placeholder='Personal Use', required='')
                        br
                        label.control-label(for='new_reply_speechI') Speech:
                        .controls
                            textarea#new_reply_speechI.form-control.speech(required='')
                        br
                        label.control-label(for='new_reply_condI') Condition:
                        .controls
                            textarea#new_reply_condI.form-control(required='')
        .board-form-wrapper.fw
            form(role='form')
                fieldset
                    // Text input
                    .control-group
                        label.control-label(for='new_board_titleI') Title:
                        .controls
                            input#new_board_titleI.form-control(type='text', placeholder='Personal Use', required='')
                        br
                        div
                            label.radio-inline(for='actionEff-0')
                                input#bType-0(type='radio', name='new_board_type', value='con', checked='checked')
                                |                                                                 Conversation
                            label.radio-inline(for='bType-1')
                                input#bType-1(type='radio', name='new_board_type', value='area')
                                |                                                                 Area
                        br
                        label.control-label(for='new_board_descI') Description:
                        .controls
                            textarea#new_board_descI.form-control.speech(required='')
    .msg.fw
    .clr
    .bottom-bar.
        <div class="not-last cancel">Cancel</div><div class="ok">Ok</div>