
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Taler - Create your own game!')
        meta(name='author', content='Ben Haran')
        script(type='text/javascript', src='/rj/jquery-2.1.1.min.js')
        script(type='text/javascript', src='/rj/bootstrap.min.js')
        script(type='text/javascript', src='/rj/jquery.animate-shadow-min.js')
        script(type='text/javascript', src='/rj/master-scripts.js')
        script(type='text/javascript', src='/rj/jquery.form.js')
        script(type='text/javascript', src='/rj/trip.min.js')
        link(href='/rs/bootstrap.min.css', rel='stylesheet')
        link(href='/rs/bootstrap-theme.min.css', rel='stylesheet')
        link(href='/rs/extra_styles1.css', rel='stylesheet')
        link(href='/rs/fa/css/font-awesome.min.css', rel='stylesheet')
        link(href='/rs/trip.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Ubuntu|Advent+Pro:100', rel='stylesheet', type='text/css')
        title
            ='Taler'+(page_title?' - '+page_title:'')
    body(role='document')
        #overlay
        .main_wrapper
            include ./navbar.jade
            include ./action_box.jade
            block content
block scripts