extends layout

block content
    link(href='/rs/my_games.css', rel='stylesheet')
    .games_wrapper
        - for (var i = 0; i < my_games.length; i++)
            .game
                div= my_games[i].title
                div= my_games[i].teaser
                div= my_games[i].date
                a.work(href=my_games[i]._id) Make!
        .clr
    input.btn.btn-add-board(type='button', value='New Game', style='margin-top: 20px')#new_game_btn

block scripts
  script(type='text/javascript', src='/rj/my_games.js')