
extends layout

block content
	link(href='/rs/forms.css', rel='stylesheet')
	#login-container
		form( method="post")#login-form.well.span4
			h1
				=page_title
			//p.subheading Please Login To Your Account
			label Username
			input(type="text", name="user", id='user-tf').span4.required
			label Password
			input(type="password", name="pass", id='pass-tf').span4.required
			label E-Mail
			input(type="text", name="mail", id='mail-tf').span4.required
			button(type="button")#btn-signup.btn.btn-primary
				i.icon-lock.icon-white
					=page_title

block scripts
	script(type='text/javascript', src='/rj/signup.js')