
extends layout
block content
    script
        != ('var game_id = "'+game._id+'";')
        | $(document).ready(function(){
        if game.playgrounds
            != ('recompilePlaygrounds('+JSON.stringify(game.playgrounds)+');')
        | redraw();
        | });
    link(href='/rs/storyline_editor.css', rel='stylesheet')
    .game_title
        = game.title
    #floater
        .top-bar
            .title
            .edit Edit
        .content
    .game
        ul#tabs
        .playgrounds
block scripts
  script(type='text/javascript', src='/rj/jquery.jsPlumb-1.7.2-min.js')
  script(type='text/javascript', src='/rj/storyline_editor.js')
